<x-window-main width="800" height="400" icon="actions/canaima" stylesheet="/usr/share/css/canaima-tour/main.css">
	<h1>Symersion</h1>

	<div class="slides-ctn">
		<div class="slides">
			<div class="slide slide-welcome" style="margin-left: -2px;"><!-- Berk, that's horrible. Seems that there is no other solution. -->
				<h2 data-translate>Bienvenido a Canaima Tour</h2>
				<img src="usr/share/images/canaima-tour/logo.png" alt="Logo" class="welcome-logo">
				<p data-translate>Canaima GNU/Linux es un proyecto socio-tecnológico abierto.</p>
				<x-button class="btn-start" data-translate>Dar un paseo</x-button>
				<x-button class="btn-close" data-translate>Cerrar</x-button>
			</div>

			<div class="slide slide-customize has-bg" style="margin-left: -2px;">
				<div class="slide-bg-ctn">
					<img src="usr/share/images/canaima-tour/personalizar.jpg" alt="" class="slide-bg">
					<div class="slide-bg-overlay"></div>
				</div>
				<div class="slide-content">
					<h2 data-translate>Personalizable</h2>
					<p data-translatable>Personaliza tu escritorio a tu gusto!</p>
					<x-button class="btn-previous">←</x-button>
					<x-button class="btn-customize" data-translate>Personalizar mi Escritorio</x-button>
					<x-button class="btn-next" data-translate>Siguiente</x-button>
				</div>
			</div>

			<div class="slide slide-accessories has-bg">
				<div class="slide-bg-ctn">
					<img src="usr/share/images/canaima-tour/accesorios.jpg" alt="" class="slide-bg">
					<div class="slide-bg-overlay"></div>
				</div>
				<div class="slide-content">
					<h2 data-translate>Muchos Accesorios</h2>
					<p data-translatable>Canaima viene con un gran número de aplicaciones.</p>
					<x-button class="btn-previous">←</x-button>
					<x-button class="btn-accessories" data-translate>Descubre las Aplicaciones</x-button>
					<x-button class="btn-next" data-translate>Siguiente</x-button>
				</div>
			</div>

			<div class="slide slide-music has-bg">
				<div class="slide-bg-ctn">
					<img src="http://symbiose.fr.cr/img/customer/index/slides/music.jpg" alt="" class="slide-bg">
					<div class="slide-bg-overlay"></div>
				</div>
				<div class="slide-content">
					<h2 data-translate>Music</h2>
					<p data-translatable>Listen to your favorite music, everywhere.</p>
					<x-button class="btn-previous">←</x-button>
					<x-button class="btn-music" data-translate>Start now</x-button>
					<x-button class="btn-next" data-translate>Next</x-button>
				</div>
			</div>

			<div class="slide slide-interfaces has-bg">
				<div class="slide-bg-ctn">
					<img src="http://symbiose.fr.cr/img/customer/index/slides/interfaces.jpg" alt="" class="slide-bg">
					<div class="slide-bg-overlay"></div>
				</div>
				<div class="slide-content">
					<h2 data-translate>Multiples interfaces</h2>
					<p data-translatable>Choose your favorite interface.</p>
					<x-button class="btn-previous">←</x-button>
					<x-button class="btn-interfaces" data-translate>Check out interfaces</x-button>
					<x-button class="btn-next" data-translate>Next</x-button>
				</div>
			</div>

			<div class="slide slide-cloud has-bg">
				<div class="slide-bg-ctn">
					<img src="http://symbiose.fr.cr/img/customer/index/slides/cloud.jpg" alt="" class="slide-bg">
					<div class="slide-bg-overlay"></div>
				</div>
				<div class="slide-content">
					<h2 data-translate>Cloud</h2>
					<p data-translatable>Use Dropbox, Google Drive and FTP right in your webos.</p>
					<x-button class="btn-previous">←</x-button>
					<x-button class="btn-cloud" data-translate>Begin!</x-button>
					<x-button class="btn-next" data-translate>Next</x-button>
				</div>
			</div>

			<div class="slide slide-thanks">
				<h2 data-translate>Thank you!</h2>
				<x-button class="btn-previous">←</x-button>
				<x-button class="btn-register" data-translate>Register</x-button>
				<x-button class="btn-restart">↺</x-button>
				<br /><br />
				<p><small data-translate>Visit <a href="http://symbiose.fr.cr" target="_blank">http://symbiose.fr.cr</a> for docs &amp; feedback.</small></p>
			</div>
		</div>
	</div>
</x-window-main>
